<ion-header>
  <ion-toolbar color="tertiary" style="height: 50px;">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      ブルーインパルス
      <!-- {{name}} -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="../assets/blueinpalse.jpg" />
    <ion-card-header>
      <ion-card-subtitle>2020/05/30</ion-card-subtitle>
      <ion-card-title>
        医療従業者を勇気づける旋回
        <!-- {{title}} -->
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      コロナの蔓延するこの時代、医療事業者は身を犠牲にして社会のために奮闘している。そのことに感謝の意を示したブルーインパルスの旋回をベストポジションで撮影しました。
      <!-- {{detail}} -->
    </ion-card-content>
  </ion-card>
</ion-content>
