<ion-header>
  <ion-toolbar color="tertiary" style="height: 50px;">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      東京＠5/20
      <!-- {{name}} -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="../assets/コロナ東京.jpg" />
    <ion-card-header>
      <ion-card-subtitle>2020/05/20</ion-card-subtitle>
      <ion-card-title>
      雷門前のいま
        <!-- {{title}} -->
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
     誰もいないことが投稿写真からわかったので、記念写真撮りに来ました！！今こんな感じ！！
      <!-- {{detail}} -->
    </ion-card-content>
    <ion-icon id="icon" button="true" name="heart-outline"></ion-icon>
  </ion-card>
</ion-content>
